/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

// My Style
body {
    background-color: #212529;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// INDEX
.table {
    width: 80%;
}

.paginator {
    .d-none {
        display: flex;
        flex-direction: column-reverse;
    }
}

// SHOW
.list-group {
    border-radius: 20px;
    width: 50%;
    cursor: default;
    text-align: center;

    img {
        width: 300px;
    }
}

// CREATE
.create-form {
    width: 40%;

    .create-button {
        padding-top: 1em;

        a {
            margin-right: 0.5em;
        }
    }
}
