// import style
@use "./base-partials/header.scss";
@use "./base-partials/footer.scss";

/* resources/scss/app.scss */
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// My Style
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

body {
    height: 100vh;
    overflow-y: auto;
}

// HOME
.home {
    height: 500px;
    background-image: url(/resources/img/jumbotron.jpg);
    background-size: cover;
}

// INDEX
main .index {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-bottom: 1em;
    }

    .paginator {
        width: 100%;
        margin-top: 0.5em;
    }
}

// SHOW
main .show {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .list-group {
            border-radius: 20px;
            width: 500px;
            cursor: default;
            text-align: center;

            span {
                font-weight: 700;
            }
        }
    }

    .thumb {
        img {
            width: 500px;
            border-radius: 10px;
            aspect-ratio: 1 / 1.5;
            box-shadow: 0px 0px 30px black;
        }
    }
}

// CREATE
main .create-form {
    width: 40%;

    .create-button {
        padding-top: 1em;

        a {
            margin-right: 0.5em;
        }
    }
}
