/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

// My Style
body {
    background-color: #212529;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// HOME
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

// INDEX
.index {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-bottom: 1em;
    }

    .paginator {
        margin-top: 1.5em;

        .d-none {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

// SHOW
.show {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .list-group {
            border-radius: 20px;
            width: 500px;
            cursor: default;
            text-align: center;

            span {
                font-weight: 700;
            }
        }
    }

    .thumb {
        img {
            width: 500px;
            border-radius: 10px;
            aspect-ratio: 1 / 1.5;
        }
    }
}

// CREATE
.create-form {
    width: 40%;

    .create-button {
        padding-top: 1em;

        a {
            margin-right: 0.5em;
        }
    }
}
