// importo classi comuni
@use "../partials/variables.scss" as *;

// SEZIONE SOCIAL & NEWSLETTER
footer {
    height: 10vh;
    background-color: #303030;

    .footer-social-container {
        @include myContainer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // button newsletter
        button {
            background-color: #303030;
            color: white;
            padding: 10px;
            border: 2px solid #0c7cec;
            &:hover {
                background-color: #003c80;
                cursor: pointer;
            }
        }

        // social icons
        .icon {
            display: flex;
            align-items: center;
            gap: 1em;

            h2 {
                color: #0c7cec;
                margin-right: 0.5em;
                cursor: pointer;
            }

            img {
                cursor: pointer;
            }
        }
    }
}
